

<!-- <router-outlet></router-outlet> -->
 <!-- form option 1 -->
 <!-- <div class="box">
<div class="container card">
  <div class="row">
    <div class="col-md-6 col1">
      <h3 class="text-center" style="margin-top: 12%; color: white;font-style: italic;">Enquiry Creation Form</h3><br><br>     
      <div class="img" style="width: 100%;"></div><br>
      <p style="text-align: center;color: white;font-style:italic;font-weight:400; font-size:14px;padding: 6%;">"National Bulk Handling Corporation Pvt. Ltd. (NBHC) offers Integrated Services for Agri commodities viz.,
         Tech-enabled Procurement, Storage, Commodity Care, Collateral Management, and Supply-chain Solutions" 
         </p>
    </div>
    <div class="col-md-6">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Client Name</label>
          <input type="text" class="form-control"  placeholder="Client Name" width="50">    
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Location</label>
      
          <select class="form-select" aria-label="Default select example">
            <option selected>Please Select Location</option>
            <option value="1">Maharashrta</option>
            <option value="2">Pune</option>
            <option value="3">Nasik</option>     
          </select>
          <div class="row">
          <div class="col-md-6">
          <input type="text" class="form-control"  placeholder="Rake origin code" width="50">
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control"  placeholder="Destination location" width="50">
          </div>
        </div>
        </div>
    
        <div class="form-group">
          <label for="exampleInputPassword1">Commodity</label>
       
          <select class="form-select" aria-label="Default select example">
            <option selected>Please Select Commodity</option>
            <option value="1">Rice</option>
            <option value="2">Soyabin</option>
            <option value="3">Wheat</option> 
          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Tentitive start date</label>
          <input id="startDate" class="form-control" type="date" placeholder="select date" />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Approx Quantity</label>
        <input type="text" class="form-control"  placeholder="Approx Quantity" width="50">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Approx Wagons</label>
        <input type="text" class="form-control"  placeholder="Approx Wagons" width="50">
      </div>
        <div class="form-group">
          <label for="exampleInputPassword1">QA Parameters</label>
    
          <select class="form-select" aria-label="Default select example">
            <option selected>Parameter1</option>
            <option value="1">Parameter2</option>
            <option value="2">Parameter3</option> 
          </select>
        </div>
    
       <div class="text-center">
        <button type="submit" class="btn"  style="width: 40%; background-color:#1fd655 ;color: white;">Submit</button>
       </div>
      
      </form>
    </div>
  </div>

 

</div>

</div> -->

 <!-- form option 2 -->
 <!-- <video  loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" id="myVideo">
  <source  type="video/mp4" src="../assets/img/bg.mp4" /> 
</video> -->

<!-- <video [autoplay]="true" [muted]="true" [loop]="true" onloadedmetadata="this.muted = true" [playsInline]="true" class="videos" width="305">
  <source src="../assets/img/bg.mp4" type="video/mp4" /> -->
  <!-- {{ "noVideoTag" | translate }} -->
<!-- </video> -->
 <div class="videos">
 <div class="box">
<div class="container card">
  <div class="row">
    <div class="col-md-6">
      <form>
        <h3 class="text-center" style="margin-top: 12%;font-family:'Gotham SSm A',;font-weight: bold;letter-spacing: -1px; ">Enquiry Creation Form</h3> 
        <p style="text-align: center;font-style:italic;font-weight:400; font-size:10px;padding: 1%;">"National Bulk Handling Corporation Pvt. Ltd. (NBHC) offers Integrated Services for Agri commodities viz.,
          Tech-enabled Procurement, Storage, Commodity Care, Collateral Management, and Supply-chain Solutions" 
          </p>
        <div class="form-group">
          <label for="exampleInputEmail1">Client Name</label>
          <input type="text" class="form-control"  placeholder="Client Name" width="50">    
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Location</label>
      
          <select class="form-select" aria-label="Default select example">
            <option selected>Please Select Location</option>
            <option value="1">Maharashrta</option>
            <option value="2">Pune</option>
            <option value="3">Nasik</option>     
          </select>
          <div class="row">
          <div class="col-md-6">
          <input type="text" class="form-control"  placeholder="Rake origin code" width="50">
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control"  placeholder="Destination location" width="50">
          </div>
        </div>
        </div>
    
        <div class="form-group">
          <label for="exampleInputPassword1">Commodity</label>
       
          <select class="form-select" aria-label="Default select example">
            <option selected>Please Select Commodity</option>
            <option value="1">Rice</option>
            <option value="2">Soyabin</option>
            <option value="3">Wheat</option> 
          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Tentitive start date</label>
          <input id="startDate" class="form-control" type="date" placeholder="select date" />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Approx Quantity</label>
        <input type="text" class="form-control"  placeholder="Approx Quantity" width="50">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Approx Wagons</label>
        <input type="text" class="form-control"  placeholder="Approx Wagons" width="50">
      </div>
        <div class="form-group">
          <label for="exampleInputPassword1">QA Parameters</label>
    
          <select class="form-select" aria-label="Default select example">
            <option selected>Parameter1</option>
            <option value="1">Parameter2</option>
            <option value="2">Parameter3</option> 
          </select>
        </div>
        <br>
       <div class="text-center">
        <button type="submit" class="btn"  style="width: 40%; background-color:#3f5336 ;color: white;border-radius: 20px;font-weight: bold;">Submit</button>
       </div>
      
      </form>
    </div>
    <div class="col-md-6 col1">
      <!-- <h3 class="text-center" style="margin-top: 12%; color: white;font-style: italic;">Enquiry Creation Form</h3><br><br>      -->
      <div class="img"></div><br>
      <!-- <p style="text-align: center;color: white;font-style:italic;font-weight:400; font-size:14px;padding: 6%;">"National Bulk Handling Corporation Pvt. Ltd. (NBHC) offers Integrated Services for Agri commodities viz.,
         Tech-enabled Procurement, Storage, Commodity Care, Collateral Management, and Supply-chain Solutions" 
         </p> -->
    </div>
   
  </div>

 

</div>

</div>
</div>

